html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
	font-size: 15px;
	line-height: 1.5;
  margin: 0;
  display: grid;
  grid-template:
    "nav about-me" auto
    "nav projects" auto
    "nav skills" auto
    "footer footer" 100px
    /150px auto;
  background: #161719;
}

@media screen and (max-width: 800px) {
    body {
      grid-template:
        "nav" 150px
        "about-me" auto
        "projects" auto
        "skills" auto
        "footer" 100px
        /auto;
    }
}

nav {
  grid-area: nav;
  background: #c0c0f033;
  text-align: center;
	line-height: 3;
  color: #fff;
}

footer {
  grid-area: footer;
  background: #c0c0f033;
  z-index: 1000;
}

#about-me {
	grid-area: about-me;
	background: #ff000010;
  height: 1000px;
}
#projects {
	grid-area: projects;
	background: #00ff0010;
  height: 1000px;
}
#skills {
	grid-area: skills;
	background: #0000ff10;
  height: 1000px;
}

#pinned-target1 {
  width: 100px;
  height: 100px;
}

.ul-no-style {
	list-style: none;
	margin: 0;
	padding: 0;
}
