


body {
  margin: 0;
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 100px 2800px 100px;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
}

header {
  grid-area: header;
  background: red;
  opacity: 0.2
}

main {
  grid-area: content;
  border: solid 5px teal;
}

footer {
  grid-area: footer;
  background: blue;
  opacity: 1;
  z-index: 1000;
}


.parallax-bg1 {
  position: fixed;
  bottom: 0px;
  left: 0px
  z-index: 1;
}
.parallax-bg2 {
  position: fixed;
  bottom: -17px;
  left: 68px;
  z-index: 2;
}
.parallax-bg3 {
  position: fixed;
  bottom: 0px;
  left: 136px;
  z-index: 1;
}
