
html, body {
  height: 100%;
  margin: 0;
}
#main {
  overflow: auto;
  min-height: 100%;
  background: red;
}
#footer {
  height: 50px;
  margin-top: -50px;
  background: blue;
}

.main-container {
  margin: 10px 5px 10px 5px;
  background: orange;
}

.projects-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.project {
  flex-grow: 1;
  height: 150px;
  width: 150px;
  border: solid 3px black;
}

.ul-no-style {
  list-style-type: none;
}
