/* when screen is 600px wide or less */
@media screen and (max-width: 600px) {

}

/* global css */
body {
    background: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* section styles */
#preload {
  display: none;
}

#webgl-surface {
    position: fixed;
    left: 0;
    top: 0;
}

#home {
    height: 100%;
    background:  rgb(255,255,255);
}

#portfolio {
    height: 100px;
    background:  rgb(100,200,200);
}

#about {
    height: 200px;
    background:  rgb(200,200,100);
}

footer {
  height: 300px;
  background: rgb(100,100,100);
}

/* class styles */
.container {
  box-shadow: 3px 3px 6px grey;
  margin: 20px auto;
  max-width: 1200px;
  align: center;
}

.full-width {
  width: 100%;
  margin: 0;
}
