/* global css */
body {
    background: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* section styles */
#preload {
  display: none;
}

#webgl-surface {
    position: fixed;
    left: 0;
    top: 0;
}
#fps {
    position: absolute;
    left: 10;
    top: 10;
    color: white;
}